*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 650px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    float: left;
}
.headLogo{
    width: 20%;
    height: 100%;
    background: url("../Pictures/Logo_Head.png") center no-repeat;
    background-size: 65%;
    float: left;
}
.home{
    width: 20%;
    height: 100%;
    background: url("../Pictures/Home_Button.png") center no-repeat;
    background-size: 35%;
    float: left;
}
.home:hover{
    background-color: rgb(255, 235, 201);
    background-size: 35%;
}
.store{
    width: 20%;
    height: 100%;
    background: url("../Pictures/Catalog.png") center no-repeat;
    background-size: 50%;
    float: left;
}
.store:hover{
    background-color: rgb(255, 235, 201);
    background-size: 50%;
}
.cart{
    width: 20%;
    height: 100%;
    background: url("../Pictures/Pocket.png") center no-repeat;
    background-size: 30%;
    float: left;
}
.cart:hover{
    background-color: rgb(255, 235, 201);
    background-size: 30%;
}
.profile{
    width: 20%;
    height: 100%;
    background: url("../Pictures/Profile.png") center no-repeat;
    background-size: 35%;
    float: left;
}
.profile:hover{
    background-color: rgb(255, 235, 201);
    background-size: 35%;
}
.line{
    width: 100%;
    height: 260px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16pt;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category1{
    width: 25%;
    height: 75%;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 147, 30);
}
.category1:hover{
    background-color: rgb(102, 102, 102);
}
.category1:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.category1:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.category2{
    width: 25%;
    height: 75%;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 192, 10);
}
.category2:hover{
    background-color: rgb(102, 102, 102);
}
.category2:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.category2:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.category3{
    width: 25%;
    height: 75%;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 0, 195);
}
.category3:hover{
    background-color: rgb(102, 102, 102);
}
.category3:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.category3:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer{
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FLogo{
    width: 20%;
    height: 130px;
    background: url("../Pictures/Logo_Head.png") center no-repeat;
    background-size: 65%;  
}